const node = {
  category: "beam",
  color: "#a6bbcf",
  defaults: {
    name: { value: "" },
  },
  inputs: 1,
  outputs: 0,
  icon: "file.svg",
  label: function () {
    return this.name || "beam-process";
  }
};
